---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Creating immersive in-flight exploration application</h1>
			<p>
				Have you ever sat by the airplane window, gazing down at the breathtaking landscapes below, and wondered: What exactly am I flying over? If so, you're not alone. The idea for my latest project stems from this exact curiosity and the desire to create an engaging, offline tool for in-flight exploration. Let me introduce my new project: an immersive in-flight exploration application designed for travelers who want to uncover the hidden stories of the world below.
			</p>
			<h2>What is the App About?</h2>
			<p>
				This app bridges the gap between travel curiosity and accessibility, even when you're offline. It's a cross-platform mobile application built using Ionic, which will allow passengers to explore their flight paths, uncover landmarks, and track their journeys, all from the comfort of airplane mode.
			</p>
			<h2>How Does It Work?</h2>
			<ul>
				<li>
					<h3>Add Your Flight:</h3>
					<p>
						Enter your flight number (e.g., LO784) and date manually or import your flight directly from your digital wallet (Google or Apple Wallet).
					</p>
					<p>
						The app fetches flight details, including departure and arrival times, route data, and even potential delays before you switch to airplane mode.
					</p>
				</li>
				<li>
					<h3>Pre-Fetch Data:</h3>
					<p>
						Using public APIs, the app gathers information about your route, including historical flight trajectories and landmarks along the way.
					</p>
					<p>
						Landmarks, cities, and natural features are preloaded to ensure everything works seamlessly offline.
					</p>
				</li>
				<li>
					<h3>Flight Mode:</h3>
					<p>
						Once in airplane mode, the app uses pre-fetched data to display your current position along the flight route on a beautifully designed map.
					</p>
					<p>
						Real-time estimations let you know what’s below you, from famous landmarks to nearby cities, even without a Wi-Fi connection.
					</p>
				</li>
				<li>
					<h3>Post-Flight Exploration:</h3>
					<p>
						After the flight, the app provides a summary of your journey, including landmarks you “visited” and the total distance flown.
					</p>
					<p>
						It also saves your flight for future reference or sharing with friends.
					</p>
				</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
